@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lora", serif;
}

.contenedorNav{
    background-color: #E4C59E;
    font-weight: 500;
    position: fixed;
    width: 100%;
    box-shadow: 2px 3px 7px 0px rgba(0, 0, 0, 0.445);
    z-index: 10;
}

.contenedorNav ul{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 30px;
    list-style: none;
    height: 8vh;
    position: relative;
}

.contenedorNav a{
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-family: "Lora";
    font-weight: 500;
}

.contenedorNav a:hover{
    color: #FFFFFF;
}

.icon-cart{
    color: #000;
}

.cardTab{
    width: 400px;
    background-color: #353432;
    color: #eee;
    position: fixed;
    inset: 0 0 0 auto;
    display: grid;
    grid-template-rows: 70px 1fr 70px;
    z-index: 10;
}

body.showCart .cardTab{
    inset: 0 -400px 0 auto;
}


.cardTab h1{
    margin: 0;
    padding: 20px;
    font-weight: 300;
}

.cardTab .btn{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.cardTab .btn button{
    background-color: #803D3B;
    border: none;
    font-family: "Lora", serif;
    font-weight: 500;
    cursor: pointer;
}

.cardTab .btn .close{
    background-color: #eee;
}

.cardTab .listCart .item img{
    width: 100%;
}

.cardTab .listCart .item{
    display: grid;
    grid-template-columns: 70px 150px 50px 1fr;
    gap: 10px;
    text-align: center;
    align-items: center;
    padding-left: 5px;
}

.listCart .quantity span{
    display: inline-block;
    width: 25px;
    height: 25px;
    background-color: #eee;
    color: #555;
    border-radius: 50%;
    cursor: pointer;
}

.listCart .quantity span:nth-child(2){
    background-color: transparent;
    color: #eee;
}

.listCart .item:nth-child(even){
    background-color: #eee1;
}

.listCart{
    overflow: auto;
}

.listCart::-webkit-scrollbar{
    width: 0;
}

/* transition: transform .5s; */



.hero{
    padding-top: 130px;
    display: flex;
    flex-wrap: wrap;
    background-color: #322C2B;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    
}

.hero article{
    text-align: start;
    width: 40%;
    padding-right: 50px;
    margin-top: 20px;
}

.hero h1{
    font-family: "Lora", serif;
    font-weight: 400;
    font-size: 2rem;
    padding-bottom: 20px;
    
}

.hero p{
    font-family: "Lora", serif;
    font-size: 1rem;
    line-height: 31.1px;
}

.hero img{
    width: 290px;
}

.hero img:hover{
    transform: rotate3d(1, 2, 3, 10deg);
}
.ola{
    width: 100%;
    height: 20%;
}

.carrusel{
    display: flex;
    flex-direction: column;
}

.carrusel h2{
    text-align: center;
    margin-bottom: 30px;
}

.cards{
    gap: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card{
    width: 300px;
    height: auto;
    background-color: #E4C59E;
    border: 2px solid #322C2B;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    
}

.card img{
    width: 100%;
    height: 200px;
    object-fit: contain;
    padding-top: 40px;
}

.card h3{
    letter-spacing: 3px;
    font-weight: 600;
    text-align: center;
    padding: 10px;
    padding-top: 40px;
}

.card p{
    text-align: center;
    padding: 3px;
    font-size: 16px;
    font-weight: 600;
    display: block;
    width: 80%;
    height: auto;
    margin: auto;
}

.card .precio{
    padding-top: 30px;
}

.addCart{
    width: auto;
    padding: 10px;
    border: 3px solid #322C2B;
    background: #803D3B;
    border-radius: 15px;
    color: #FFFFFF;
    font-size: 0.95rem;
    margin: 20px auto;
    cursor: pointer;
}
.addCart:hover{

    transition: 0.5s ease;
    transform : scale(1.1);
}


  
.catalogo{
    text-align: center;
    margin: 50px 0px;
    font-size: 30px;
}

.botones{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
.boton:hover{
        
    transition: 0.5s ease;
    transform : scale(1.1);
    }
.boton{
    width: 200px;
    height: 60px;
    border: 3px solid #322C2B;
    background: #803D3B;
    border-radius: 15px;
    color: #FFFFFF;
    font-size: 20px;
}

.boton:hover{
    color: black;
}



.localizacion{
    margin-top: 50px;
}

.localizacion h2{
    margin: 10px 0;
}

.localizacion iframe{
    width: 100%;
}

.contenedorFooter {
    background-color:#AF8260;
    display: flex;
    padding: 20px 0;
}

.logo img{
    width: 70px;
    margin: auto;
    
}
.logo{
    padding-left: 20px;
    display: flex;
    flex-direction: column;
}



.logoImg{
    width: 70px;
    margin: auto;
}


.socialMedia{
    margin: 5px;
} 
.socialMedia ul{
     width: 100%;
    display: flex;
} 
.socialMedia img{
     width: 50px;
    height: auto;
}

.socialMedia img:hover{
    transform: rotate(35deg);
}
.seccionesFooter{
    display: flex;
    justify-content: space-around;
    margin: auto;
    gap: 5rem;
}

.seccionesFooter h5{
    padding-bottom: 20px;
    font-size: 30px;
}
.seccionesFooter li{
    margin-bottom: 10px;
    display:flex;

}
.seccionesFooter a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.seccionesFooter a:hover{
    color: #FFFFFF;
} 


@media (max-width: 425px){

    .contenedorNav ul{
        height: auto;
        margin-top: 15px;
    }

    .hero{
        padding-top: 100px;
        gap: 30px;
    }

   .hero article{
    width: 100%;
    text-align: center;
    padding: 0;
    margin: 0;
   }

    
    .contenedorFooter{
        flex-direction: column;
        align-items: center;
    }

    .seccionesFooter{
        flex-direction: column;
    }

    .seccionesFooter li{
        justify-content: center;
    }
}



/*********************************************/
/*********************************************/
/*****     LLAMADO A FUENTES LOCALES     *****/
/*********************************************/
/*********************************************/
/*********************************************/
/*********************************************/
/*****     CONFIGURACION NOSOTROS     ********/
/*********************************************/
/*********************************************/
.jcNosotros{
    width: 100%;
    height: 100vh;
    background-image: url(./img/back-about.png);
    background-position: center center;
    background-size: cover;
    background-color: #AF8260;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

.jcNosotros h2{
    font-size: 2.5rem;
    margin: auto auto 50px auto;
    text-align: center;
    font-family: "Lora";
    font-weight: 600;
    color: white;
}

.jcNosotrosContenedor{
    text-align: center;
    width: 75%;
    margin: 20px;
    padding: 60px;
    height: auto;
    background-color: #322c2b65;
    backdrop-filter: blur(15px);
    border-radius: 20px;

}

.jcNosotrosContenedor h3{
    font-family: "Lora";
    font-weight: 400;
    font-size: 1.5rem;
    color: white;
    padding-bottom: 30px;
}

.jcNosotrosContenedor p{
    letter-spacing: 1.2px;
    line-height: 45px;
    font-family: "Lora";
    font-size: 1rem;
    margin-top: 20px;
    color: white;
}

/************************************************/
/************************************************/
/*****     CONFIGURACION CONTACTENOS     ********/
/************************************************/
/************************************************/

.Contactenos{
    display:flex;
    width:100%;
    height: fit-content;
    background-image: url(./img/back-about.png);
    background-position: center center;
    background-size: cover;
    background-color: rgba(112, 19, 19, 0.9);  
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    flex-wrap: wrap;
    padding: 30px 0;
}
.ContainerContactenos{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    margin: 55px auto auto auto;
}
.ContainerTitulo{
    font-size: 2rem;
    color: white;
    font-family: "Lora";
    text-align: center;
}
.FormularioContactenos{
    width: 30%;
    height: 100%;
    display: flex;
    gap: 25px;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    padding: 27px;
    border-radius: 20px;
}
.FormularioContactenos input, select{
    background-color: #453F3E;
    color: white;
    padding: 18px 18px;
    border-style: none;
    outline: none;
    font-size: 0.9rem;
    font-family: "Lora";
    font-weight: 300;
    border-radius: 10px;
    
}

.FormularioContactenos textarea{
    width: 100%;
    height: 110px;
    background-color: #453F3E;
    color: white;
   
}
.FormularioContactenos textarea::placeholder{
    font-family: "Lora";
    padding: 12px;
    color: white;
    font-size: 1rem;
   
}

.FormularioContactenos input::placeholder{
    color: white;
}
.BotonContactenosSubmit{
    background-color: #322C2B !important;
    cursor: pointer;
}
.FormularioSuscribirse{
    margin: 0;
    font-family: "Lora";
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 15px;
    width: auto;
    height: 100%;
    background-color: #FFFFFF;
    padding: 30px;
    outline: none;
}
.FormularioSuscribirse h3{
    color: black;
    font-family: "Lora";
    font-weight: 500;
    font-size: 1.2rem;
}

.FormularioSuscribirse input{
    background-color: #453F3E;
    padding: 12px;
    border-radius: 15px;
    border-style: none;
    outline: none;
    font-family: "Lora";
    font-size: 1rem;
}
.FormularioSuscribirse input::placeholder{
    color: white;
    outline: none;
}
.BotonSuscribirseSubmit{
    margin: auto;
    width: 280px;
    cursor: pointer;
    font-family: "Lora";
    background-color: #322C2B !important;
    color: white;
}

.respuestas{
    text-align: center;
    color: #000;
    font-size: 22px;
}
/************************************/
/************************************/
/*****     CONFIGURACION DE     *****/
/*****     GRID CONTACTENOS     *****/
/*****      DIV IZQUIERDO       *****/
/************************************/
/************************************/


/**********************************************************************************/
/**********************************************************************************/
/***     ****   *****   ***   ****    ***   *   *   ***   ***  *   *  *****     ***/
/***     *   *  *      *      *   *  *   *  **  *  *       *   *   *  *         ***/
/***     ****   ***     ***   ****   *   *  * * *   ***    *    * *   ***       ***/
/***     * *    *          *  *      *   *  *  **      *   *    * *   *         ***/
/***     *  *   *****   ***   *       ***   *   *   ***   ***    *    *****     ***/
/**********************************************************************************/
/**********************************************************************************/

/*************************************************************/
/*************************************************************/
/*****     Cuando la resolución máxima es de 1024px      *****/
/*************************************************************/
/*************************************************************/
@media screen and (max-width:1024px){
/*********************************************/
/*********************************************/
/*****     CONFIGURACION NOSOTROS     ********/
/*********************************************/
/*********************************************/

    .jcNosotros{
        height: auto;
        padding-top: 100px;
    }

    .jcNosotrosContenedor h3 span{
        display: block;
    }

    .FormularioContactenos{
        width: 40%;
    }
}
/*************************************************************/
/*************************************************************/
/*****     Cuando la resolución máxima es de 768px      *****/
/*************************************************************/
/*************************************************************/
@media screen and (max-width:768px){
    .jcNosotros h2{
        font-size: 6.666666667vw;
        letter-spacing: 0.333333333vw;
        text-shadow: -0.25vw -0.25vw 0.25vw rgb(0,0,0), 0.25vw 0.25vw 0.25vw rgb(255,255,255);
    
        margin: 6.666666667vw;
    }
    
    .jcNosotrosContenedor{
        margin:0 8.333333333vw 5vw 8.333333333vw;
        padding: 8.333333333vw;
        border-radius: 5vw / 8.333333333vw;
    }

    .ContainerContactenos{
        flex-direction: column;
        align-items: center;
        gap: 25px;

    }

    .FormularioContactenos{
        width: 55%;
    }
    
    .jcNosotrosContenedor h3 span{
        font-size: 5.833333333vw;
    }
    
    .jcNosotrosContenedor h3{
        text-align: center;
        margin: 3.333333333vw 0 6.666666667vw 0;
    }

    
    
    .jcNosotrosContenedor p{
        line-height: 50px;
        font-size: 5vw;
    }    
}

/*************************************************************/
/*************************************************************/
/*****     Cuando la resolución máxima es de 1200px      *****/
/*************************************************************/
/*************************************************************/
@media screen and (max-width:1440px){
/************************************************/
/************************************************/
/*****     CONFIGURACION CONTACTENOS     ********/
/************************************************/
/************************************************/
    .jcGridContactenos{
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto;
        margin: 0 50px 0 50px;
        gap:40px;
    }
    .jcGridContactenosTitulo{
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        width:100%;
    }
    .jcGridContactenosDivI{
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        width:100%;
    }
    .jcGridContactenosDivDS{
        grid-column: 1 / 2;
        grid-row: 3 / 4;
        width:100%;
    }
    .jcGridContactenosDivDI{
        grid-column: 1 / 2;
        grid-row: 4 / 5;
        width:100%;
    }
}
/*************************************************************/
/*************************************************************/
/*****     Cuando la resolución máxima es de 425px       *****/
/*************************************************************/
/*************************************************************/
@media screen and (max-width:425px){
    .jcContactenos{
        margin-top: 21.73913043vw;
        padding: 6.52173913vw 0;
    }

    .FormularioContactenos{
        width: 80%;
    }

    .jcGridContactenos{
        margin: 0 10.86956522vw 0 10.86956522vw;
        gap: 8.695652174vw;
    } 
    .jcGridContactenosTitulo{
        padding:8.695652174vw;
        font-size: 6.52173913vw;
    }
    .jcGridContactenosDivI{
        gap: 4.347826087vw;
        padding: 6.52173913vw;
        border-radius: 4.347826087vw;        
    }
    .jcGridContactenosDivI .jcObservaciones{
        height: 21.73913043vw; /* Altura predeterminada */
    }
    .jcGridContactenosDivDS{
        gap: 4.347826087vw;
        padding: 6.52173913vw;
        border-radius: 4.347826087vw;    
    }
    .jcGridContactenosDivDS h3{
        font-size: 4.347826087vw;
        padding: 1.739130435vw 3.260869565vw;
        border-radius: 2.173913043vw;
    }
    .jcGridContactenosDivDI{
        gap:4.347826087vw;
        padding: 6.52173913vw;
        border-radius: 4.347826087vw;
    }
    .jcGridContactenosDivDI p{
        font-size: 3.47826087vw;
        line-height: 4.347826087vw;
        margin:2.173913043vw;
    }
    .jcGridContactenosDivDI p::first-letter{
        font-size: 6.956521739vw;
    }
    p:first-line{
        margin-left: 4.347826087vw;
        text-indent: 8.695652174vw;
    }
    .jcTitulos{
        font-size: 3.47826087vw;
        padding: 1.739130435vw 3.260869565vw;
        border-radius: 2.173913043vw;
    }
    .jcDatos{
        font-size: 3.47826087vw;
        padding: 1.739130435vw 3.260869565vw;
        border-radius: 2.173913043vw;
    }
    .jcChkBoxSpan {
        font-size: 3.47826087vw;
    }
    .jcChkBoxOpcion{
        font-size: 3.47826087vw;
    }
    .jcBotonContactenosSubmit, .jcBotonSuscribirseSubmit {
        font-size: 3.47826087vw;
        padding: 1.739130435vw 3.260869565vw;
        border-radius: 2.173913043vw;
    }

    .FormularioSuscribirse{
        width: 80%;
    }

    .BotonSuscribirseSubmit{
        width: 100%;
    }

    .jcNosotrosContenedor p{
        line-height: 30px;
        font-size: 5vw;
    } 
}